@{
    ViewBag.Title = "HomePage";
}

<h1>THIS IS THE HOME PAGE</h1>


<!--
<div id="partialZone">


</div>

section scripts{

    <script>

        $('#partialZone').load("/Home/FirstPartial")


    </script>


    }

    -->
