
@{
    ViewBag.Title = "ULIndex";
}

<div class="d-flex justify-content-end w-100">
    @Html.ActionLink("GuestLogout", "GuestLogin", "Home", null, new { @class = "text-decoration-none text-danger bg-danger bg-opacity-50 p-2 mx-1 rounded border border-danger" })
</div>

<h2>ULIndex</h2>

